body {
    background-color: #111111;
    color: #ffffff;
    margin: 0;
}

header {
    background-color: #000000;
    padding: 25px;
    margin-bottom: 20px;
}

main {
    background-color: #1c1c1c;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

section {
    background-color: #242424;
    padding: 25px;
}
h1,
h2,
h3 {
    color: #ffffff;
}

a {
    color: #d90429;
}

footer {
    background-color: #000000;
    padding: 20px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    pad: 0;
    margin: 20px 0 0 0;
    display: flex;
    gap: 25px;
}

nav li {
    margin: 0;
}

nav a{ 
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #d90429;
}

section ul {
    padding-left: 25px;
}

section il {
    margin-bottom: 8px;
}

section li strong {
    color: #d90429;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.videos figure {
    margin: 0;
    flex: 0 1 480px;
    max-width: 480px;
}

.video {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 48px;
    background: #d90429;
    border-radius: 12px;
}

.video .play::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    border-style: solid;
    border-width: 11px 0 11px 18px;
    border-color: transparent transparent transparent #ffffff;
}

.video:hover .play {
    background: #ff0033;
}

.videos figcaption {
    margin-top: 8px;
    color: #dddddd;
}